<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SmsToDB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    
    </startup>
    <userSettings>
        <SmsToDB.Properties.Settings>
            <setting name="FileSms1" serializeAs="String">
                <value>in-sms.txt</value>
            </setting>
            <setting name="email" serializeAs="String">
                <value>LOG</value>
            </setting>
            <setting name="pas" serializeAs="String">
                <value>kiselev666</value>
            </setting>
            <setting name="host" serializeAs="String">
                <value>10.0.0.1</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>8089</value>
            </setting>
            <setting name="key_api" serializeAs="String">
                <value />
            </setting>
            <setting name="FileSms2" serializeAs="String">
                <value />
            </setting>
            <setting name="FileSms3" serializeAs="String">
                <value />
            </setting>
            <setting name="FileSms4" serializeAs="String">
                <value />
            </setting>
            <setting name="FileSms5" serializeAs="String">
                <value />
            </setting>
            <setting name="FileSms6" serializeAs="String">
                <value />
            </setting>
            <setting name="CBSendMail" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="C1" serializeAs="String">
                <value />
            </setting>
            <setting name="C2" serializeAs="String">
                <value />
            </setting>
            <setting name="D1" serializeAs="String">
                <value />
            </setting>
            <setting name="D2" serializeAs="String">
                <value />
            </setting>
            <setting name="ToEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="TimeCheckGoIP" serializeAs="String">
                <value>15</value>
            </setting>
        </SmsToDB.Properties.Settings>
    </userSettings>
</configuration>